[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
jinja2 = "*"
requests = "*"
bs4 = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"
