{% extends "./base_layout.html" %}

{% block style %}
<style>
    span.found-word {
        min-width: 100px;
        max-width: 100px;
        display: inline-block;
    }

    span.found-word > span.ending {
        color: {{ending_color}};
    }

    div#words-found {
        margin-bottom: 1em;
    }
</style>
{% endblock %}

{% block body %}
    {% if words %}
        <div id="words-found">Words found: {{words|length}}</div>

        <div id="word-grid">
            {% for word in words %}
                <span class="found-word">{{word}}</span>

                {% if loop.index % 20 == 0 %}
                    <br><br>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <span>Sorry, but no rhyme was found. Please, check the spelling of your word and try again</span>
    {% endif %}
{% endblock %}
