{% extends "./base_layout.html" %}

{% block style %}
<style>
    span.found-word {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    span.found-word > span.ending {
        color: {{ending_color}};
    }

    div#words-found {
        margin-bottom: 1em;
    }

    div#word-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
        gap: 2px;
        margin-bottom: 1em;
    }

    br.words-new-line {
        grid-column-start: 1;
    }
</style>
{% endblock %}

{% block body %}
    {% if words %}
        <div id="words-found">Words found: {{words|length}}</div>

        <div id="word-grid">
            {% for word in words %}
                <span class="found-word">{{word}}</span>

                {% if loop.index % 20 == 0 %}
                    </div><div id="word-grid">
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <span>Sorry, but no rhyme was found. Please, check the spelling of your word and try again</span>
    {% endif %}
{% endblock %}
